<div class="search-container">
  <div class="content">
    <div class="content-search-bar">
      <app-gsup-input
        [size]="'large'"
        [image]="'./../../../assets/search.png'"
        [placeholder]="'Rechercher des cours...'"
        (value)="getSpecificCourse($event)"
        [disabled]="this.loading"
      ></app-gsup-input>
    </div>

    <div *ngIf="this.loading" class="loading">Chargement des cours...</div>
    <div *ngIf="!this.loading" class="content-search-list-courses">
      <div class="content-course" *ngFor="let course of this.filteredCourses">
        <p class="sigle">{{ course.sigle }}</p>
        <p class="name">{{ course.name }}</p>
        <p class="department">{{ course.department }}</p>
        <p class="credits">{{ course.credits }} cr.</p>

        <div class="semester-list">
          <p class="semester" *ngFor="let term of course.semesterList">
            {{ term }}
          </p>
        </div>
        <p class="language">{{ course.language }}</p>

        <div *ngIf="this.filteredCourses.length === 0" class="no-courses">Aucun cours trouvé</div>
      </div>
    </div>
  </div>
</div>
