<div class="search-container">
  <div class="content">
    <div class="content-search">
      <div class="content-search-bar">
        <app-gsup-input
          [size]="'large'"
          [image]="'./../../../assets/search.png'"
          [placeholder]="'Sigle ou nom de cours...'"
          (value)="onSearch($event)"
          [disabled]="this.loading"
        ></app-gsup-input>
      </div>
      <mat-form-field>
        <mat-select
          placeholder="Département"
          [(value)]="selectedDepartment"
          (selectionChange)="filterBySelectedValue()"
        >
          <mat-option>---</mat-option>
          <mat-option *ngFor="let department of this.departments" [value]="department">
            {{ department }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Trimestre"
          [(value)]="selectedTrimester"
          (selectionChange)="filterBySelectedValue()"
        >
          <mat-option>---</mat-option>
          <mat-option *ngFor="let trimestre of this.trimesters" [value]="trimestre">
            {{ trimestre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select
          placeholder="Langue"
          [(value)]="selectedLanguage"
          (selectionChange)="filterBySelectedValue()"
        >
          <mat-option>---</mat-option>
          <mat-option *ngFor="let language of this.languages" [value]="language">
            {{ language }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="this.loading" class="loading">Chargement des cours...</div>
    <div *ngIf="!this.loading" class="content-search-list-courses">
      <div class="content-course" *ngFor="let course of this.filteredCourses">
        <p class="sigle">{{ course.sigle }}</p>
        <p class="name">{{ course.name }}</p>
        <p class="department">{{ course.department }}</p>
        <p class="credits">{{ course.credits }} crédits</p>

        <div class="semester-list">
          <p class="semester" *ngFor="let term of course.semesterList">
            {{ term }}
          </p>
        </div>
        <p class="language">{{ course.language }}</p>
      </div>
      <div *ngIf="this.filteredCourses.length === 0" class="no-courses">Aucun cours trouvé</div>
    </div>
  </div>
</div>
