.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url('./../assets/background.png') no-repeat center center;
  background-size: cover;
  overflow: auto;
}

.header {
  flex-shrink: 0;
  padding: 2rem;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.transparent-dialog .mat-dialog-container {
  background: transparent !important; /* remove grey/white background */
  box-shadow: none !important;        /* remove shadow */
  padding: 0 !important;
}
