.search-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50rem;
}

.search-input img {
  position: absolute;
  left: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  pointer-events: none;
}

.search-input input {
  border: 0.125rem solid black;
  border-radius: 10px;
  font-weight: bold;
  height: 45px;
  width: 100%;
  padding-left: 2.5rem;
  box-sizing: border-box;
}

.small {
  font-size: 20px;
  width: 15rem;
}

.medium {
  font-size: 20px;
  width: 23rem;
}

.large {
  font-size: 20px;
  width: 50rem;
}
