<div class="header">
  <div class="left-container">
    <img
      src="assets/logo.png"
      class="logo"
      *ngIf="
        this.router.url === '/accueil' ||
        this.router.url === '/login' ||
        this.router.url === '/admin' ||
        this.isStudentWithActiveStudy()
      "
    />
    <img
      src="assets/back_arrow.png"
      class="arrow"
      *ngIf="
        this.router.url !== '/accueil' &&
        this.router.url !== '/login' &&
        this.router.url !== '/admin' &&
        !this.isStudentWithActiveStudy()
      "
      (click)="goBack()"
    />
    <p class="title">PlaniSup</p>
  </div>
  <div class="right-container">
    <app-gsup-menu *ngIf="this.router.url !== '/login'" [currentUser]="currentUser"></app-gsup-menu>
  </div>
</div>
