<div class="header">
  <div class="left-container">
    <img
      src="assets/logo.png"
      class="logo"
      *ngIf="
        this.router.url === '/accueil' ||
        this.router.url === '/login' ||
        this.router.url === '/admin' ||
        this.router.url === '/portail' ||
        this.isStudentWithActiveStudy() ||
        this.isStudentHasToCompleteStudyPlan()
      "
      alt=""
    />
    <img
      src="assets/back_arrow.png"
      class="arrow"
      *ngIf="
        this.router.url !== '/accueil' &&
        this.router.url !== '/login' &&
        this.router.url !== '/admin' &&
        this.router.url !== '/portail' &&
        !this.isStudentWithActiveStudy() &&
        !this.isStudentHasToCompleteStudyPlan()
      "
      alt=""
      (click)="goBack()"
    />
    <p class="title">PlaniSup</p>
  </div>
  <div class="right-container">
    <app-gsup-menu
      *ngIf="this.router.url !== '/login' && this.router.url !== '/portail'"
      [currentUser]="currentUser"
    ></app-gsup-menu>
  </div>
</div>
