<div class="header">
  <div class="left-container">
    <img
      src="assets/logo.png"
      class="logo"
      *ngIf="
        this.router.url === '/accueil' ||
        this.router.url === '/login' ||
        this.router.url === '/admin' ||
        this.router.url === '/portail' ||
        this.isStudentWithActiveStudy() ||
        this.isStudentHasToCompleteStudyPlan()
      "
      alt=""
    />
    <img
      src="assets/back_arrow.png"
      class="arrow"
      *ngIf="
        this.router.url !== '/accueil' &&
        this.router.url !== '/login' &&
        this.router.url !== '/admin' &&
        this.router.url !== '/portail' &&
        !this.isStudentWithActiveStudy() &&
        !this.isStudentHasToCompleteStudyPlan()
      "
      alt=""
      (click)="goBack()"
    />
    <p class="title">PlaniSup</p>
  </div>
  <div class="right-container">
    <div class="student-infos" *ngIf="this.currentUser">
      <p *ngIf="this.authentificationService.isStudent()">
        <strong>ÉTUDIANT :</strong>{{ this.currentUser.firstName }}
        {{ this.currentUser.lastName }}
      </p>
      <p *ngIf="this.authentificationService.isEmployee()">
        <strong>EMPLOYÉ :</strong>{{ this.currentUser.firstName }}
        {{ this.currentUser.lastName }}
      </p>
      <p *ngIf="this.authentificationService.isAdmin()">
        <strong>ADMINISTRATEUR</strong>
      </p>
    </div>
    <app-gsup-menu
      *ngIf="this.router.url !== '/login' && this.router.url !== '/portail'"
      [currentUser]="currentUser"
    ></app-gsup-menu>
  </div>
</div>
