.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex: 1 1 auto;
  min-width: 0;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

.logo {
  width: 130px;
  overflow: hidden;
  border-radius: 10px;
  height: auto;
}

.arrow {
  width: 40px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.right-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.student-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  gap: 1rem;
}

.student-infos strong {
  font-weight: bold;
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 14px;
  color: var(--app-color-red);
}

.student-infos p {
  font-weight: bold;
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 14px;
  color: var(--app-color-red);
}
