<div class="study-module">
  <div class="module-header">
    <h2>Module {{ module.id }} - {{ module.title }}</h2>
    <div class="module-credits">
      <span class="credits-count">{{ module.selectedCredits }} / {{ module.maxCredits }}</span>
      <span class="credits-label">Crédits</span>
    </div>
  </div>
  
  <div class="progress-bar">
    <div class="progress-fill" [ngStyle]="progressStyle"></div>
  </div>
  
  <div class="courses-list">
    <app-study-course 
      *ngFor="let course of module.courses" 
      [course]="course"
      (selectionChange)="onCourseSelectionChange($event)">
    </app-study-course>
  </div>

  <div class="sub-modules" *ngIf="module.subModules && module.subModules.length">
    <div class="sub-module" *ngFor="let subModule of module.subModules">
      <h3>{{ subModule.title }}</h3>
      
      <div class="sub-module-header">
        <span class="sub-module-credits">{{ subModule.selectedCredits }} crédits sélectionnés</span>
      </div>
      
      <div class="courses-list">
        <app-study-course 
          *ngFor="let course of subModule.courses" 
          [course]="course"
          (selectionChange)="onSubModuleCourseSelectionChange({courseId: $event.courseId, subModuleId: subModule.id, selected: $event.selected})">
        </app-study-course>
      </div>
    </div>
  </div>
</div>