.view-plan-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  gap: 5rem;
}

.container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  width: 5vw;
  height: 70vh;
  overflow: hidden; /* tout ce qui dépasse est masqué */
}

.container-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
  width: 70vw;
  height: 70vh;
  overflow: hidden; /* tout ce qui dépasse est masqué */
}

.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10vw;
  height: 70vh;
  overflow: hidden; /* tout ce qui dépasse est masqué */
}

app-gsup-side-bar {
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%; /* s'étend sur la largeur du conteneur */
  max-width: 100%; /* ne dépasse jamais */
  box-sizing: border-box;
  height: 100%; /* hauteur fluide */
  max-height: 100%; /* jamais plus haut que le conteneur */
  overflow: hidden;
}
