@if (isLoading$ | async) {
<app-loading></app-loading>
}
<div
  class="view-plan-container"
  [class.one-button]="isStudent() && !needsCorrection()"
  [class.correction]="needsCorrection()"
>
  <div class="container-left">
    <app-progress [itemProgressList]="progressSteps"> </app-progress>
  </div>
  <div class="container-middle">
    @if (studyPlan$ | async; as studyPlan) {
      @if (isStudyPlanLoaded && studyPlan) {
        <app-study-plan
          [isViewMode]="true"
          [directorId]="studyPlan.directorId"
          [coordonatorId]="studyPlan.coordonatorId">
        </app-study-plan>
      }
    } @else if (!isStudyPlanLoaded) {
      <div class="loading-message">
      <p>Chargement du plan d'études...</p>
    </div>
    }
  </div>
  <div class="container-right">
    <div *ngIf="!this.isStudent() && !this.isArchivedStudyPlan()" class="action-buttons">
      <button class="btn-action btn-validate" (click)="onValidate()">Valider</button>
      <button class="btn-action btn-refuse" (click)="onRefuse()">Refuser</button>
    </div>
    <div *ngIf="this.isStudent()" class="action-buttons">
      <button *ngIf="this.needsCorrection()  && !this.isArchivedStudyPlan()" class="btn-action btn-validate" (click)="onSubmit()">
        Soumettre
      </button>
      <button *ngIf="this.needsCorrection()  && !this.isArchivedStudyPlan()" class="btn-action btn-cancel" (click)="onCancel()">Abandonner</button>
      <ng-container *ngIf="studyPlan$ | async as studyPlan">
        <button
          *ngIf="getStatusLabel(studyPlan.status) === 'Validé' && this.isArchivedStudyPlan()"
          class="btn-action btn-validate"
          (click)="exportPDF()"
        >
          Exporter en PDF
        </button>
      </ng-container>
    </div>
    <app-chat *ngIf="!this.isArchivedStudyPlan()"></app-chat>
  </div>
</div>
