@if (isLoading$ | async) {
<app-loading></app-loading>
}
<div
  class="view-plan-container"
  [class.one-button]="
    this.authentificationService.isStudent() && !this.sPS.needsCorrectionStudyPlan()
  "
  [class.correction]="this.sPS.needsCorrectionStudyPlan()"
>
  <div class="container-left">
    <app-progress [itemProgressList]="progressSteps"> </app-progress>
  </div>
  <div class="container-middle">
    @if (studyPlan$ | async; as studyPlan) { @if (isStudyPlanLoaded && studyPlan) {
    <app-study-plan
      [isViewMode]="true"
      [directorId]="studyPlan.directorId"
      [coordonatorId]="studyPlan.coordonatorId"
    >
    </app-study-plan>
    } } @else if (!isStudyPlanLoaded) {
    <div class="loading-message">
      <p>Chargement du plan d'études...</p>
    </div>
    }
  </div>
  <div class="container-right">
    <div *ngIf="!this.authentificationService.isStudent()" class="action-buttons">
      <button class="btn-action btn-validate" (click)="this.sPS.approveStudyPlan()">Valider</button>
      <button class="btn-action btn-refuse" (click)="this.sPS.refuseStudyPlan()">Refuser</button>
    </div>
    <div *ngIf="this.authentificationService.isStudent()" class="action-buttons">
      <button
        *ngIf="this.sPS.needsCorrectionStudyPlan()"
        class="btn-action btn-validate"
        (click)="this.sPS.updateStudyPlan()"
      >
        Soumettre
      </button>
      <button class="btn-action btn-cancel" (click)="this.sPS.cancelStudyPlan()">Abandonner</button>
      <ng-container *ngIf="studyPlan$ | async as studyPlan">
        <button
          *ngIf="this.sPS.studyPlanStatusValidated()"
          class="btn-action btn-validate"
          (click)="exportPDF()"
        >
          Exporter en PDF
        </button>
      </ng-container>
    </div>
    <app-chat></app-chat>
  </div>
</div>
