button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  height: 40px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

button:hover {
  filter: brightness(60%);
}

button:active {
  transform: scale(0.8);
}

/* ================== Couleurs ================== */
.black {
  background-color: black;
}

.red {
  background-color: var(--app-color-red);
}

.blue {
  background-color: var(--app-color-blue);
}

.green {
  background-color: var(--app-color-green);
}

.orange {
  background-color: var(--app-color-orange);
}

/* ================== Tailles ================== */
.small {
  font-size: 14px;
  width: 175px;
}

.medium {
  font-size: 14px;
  width: 225px;
}

.large {
  font-size: 14px;
  width: 275px;
}
