<div class="add-student-container">
  <div class="container-left">
    <div class="left-header">
      <div class="header-search-program">
        <input
          type="text"
          placeholder="Rechercher un étudiant..."
          (input)="onSearch($event.target.value)"
        />
      </div>
    </div>
    <div class="student-list">
      <div
        *ngFor="let option of allStudents$ | async | keyvalue"
        class="student-item"
        [class.selected]="selectedProgramId === option.key"
        (click)="selectProgram(option.key)"
      >
        {{ option.value }}
      </div>
      <p class="no-student-message" *ngIf="allStudents.getValue().size === 0">
        Aucun étudiant trouvé
      </p>
    </div>
  </div>
  <div class="container-right">
    <form class="student-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card class="form-card">
        <mat-card-header>
          <mat-card-title>Informations de l'étudiant à ajouter</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Code utilisateur</mat-label>
            <input matInput formControlName="usercode" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Programme</mat-label>
            <mat-select formControlName="programId">
              <mat-option *ngFor="let p of programs" [value]="p._id">
                {{ p.degree }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Directeur</mat-label>
            <mat-select formControlName="directorId">
              <mat-option *ngFor="let d of directors" [value]="d._id">
                {{ d.firstName }} {{ d.lastName }} {{ d.departement }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Co-directeurs</mat-label>
            <mat-select formControlName="codirectorsIds" multiple>
              <mat-option *ngFor="let c of coDirectors" [value]="c._id">
                {{ c.firstName }} {{ c.lastName }} {{ c.departement }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-actions>
            <button class="big-button" mat-stroked-button type="button" (click)="form.reset()">
              Réinitialiser
            </button>
            <button
              class="big-button"
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="form.invalid || submitting"
            >
              {{ submitting ? 'Envoi…' : 'Créer' }}
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
