<div class="home-container" *ngIf="!this.authentificationService.currentUser">
  <div class="container-left">
    <div class="container-content">
      <img src="assets/image_diplomees.png" />
      <h1>Gestionnaire de plan d'études des cycles supérieurs</h1>
      <p *ngIf="authentificationService.currentUser$ | async as user; else notLoggedIn">
        Bienvenue {{ user.firstName }} {{ user.lastName }}!
      </p>
      <ng-template #notLoggedIn>
        <p>Bienvenue!</p>
      </ng-template>
    </div>
  </div>
  <div class="container-etude">
    <div class="container-right">
      <div class="container-content">
        <img src="assets/image_dess.png" />
        <h1>{{ degree[0] }}</h1>
        <p>Plans d'études pour le DESS en génie informatique.</p>
        <app-gsup-button
          [title]="degree[0]"
          [color]="'red'"
          [size]="'large'"
          (clicked)="navigateTo(degree[0])"
        ></app-gsup-button>
      </div>
    </div>
    <div class="container-right">
      <div class="container-content">
        <img src="assets/image_maitrise.png" />
        <h1>{{ degree[1] }}</h1>
        <p>Plans d'études pour la maîtrise en génie informatique.</p>
        <app-gsup-button
          [title]="degree[1]"
          [color]="'orange'"
          [size]="'large'"
          (clicked)="navigateTo(degree[1])"
        ></app-gsup-button>
      </div>
    </div>
    <div class="container-right">
      <div class="container-content">
        <img src="assets/image_doctorat.png" />
        <h1>{{ degree[2] }}</h1>
        <p>Plans d'études pour le doctorat en génie informatique.</p>
        <app-gsup-button
          [title]="degree[2]"
          [color]="'blue'"
          [size]="'large'"
          (clicked)="navigateTo(degree[2])"
        ></app-gsup-button>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="this.authentificationService.currentUser?.role === UserRole.Employe"
  class="employee-message-container"
>
  <div class="employee-message-card">
    <mat-icon class="employee-icon">person</mat-icon>
    <h2>Attente d'assignation de rôle</h2>
    <p>
      Vous êtes actuellement identifié comme <strong>Employé</strong>. Pour accéder aux
      fonctionnalités du système, vous devez être assigné à un rôle spécifique (Directeur, Agent
      administratif, ou Coordonnateur).
    </p>
    <p>
      Veuillez contacter un administrateur pour qu'il vous assigne le rôle approprié. Ensuite,
      reconnectez vous
    </p>
    <p>
      Après l'assignation de votre rôle, vous devrez vous reconnecter pour que les changements
      prennent effet.
    </p>
  </div>
</div>

<app-verify-plans
  *ngIf="
    this.authentificationService.currentUser &&
    this.authentificationService.currentUser?.role !== role[0] &&
    this.authentificationService.currentUser?.role !== UserRole.Employe &&
    this.authentificationService.currentUser?.role !== UserRole.Administrateur
  "
></app-verify-plans>
