<div class="home-container" *ngIf="this.auth.currentUser?.role === role[0]">
  <div class="container-left">
    <div class="container-content">
      <img src="./../../../assets/image_diplomees.png" />
      <h1>Gestionnaire de plan d’études des cycles supérieurs</h1>
      <p *ngIf="auth.currentUser$ | async as user; else notLoggedIn">
        Bienvenue {{ user.firstName }} {{ user.lastName }}!
      </p>
      <ng-template #notLoggedIn>
        <p>Bienvenue Invité !</p>
      </ng-template>
    </div>
  </div>
  <div class="container-etude">
    <div class="container-right">
      <div class="container-content">
        <img src="./../../../assets/image_dess.png" />
        <h1>{{ degree[0] }}</h1>
        <p>Plans d'études pour le DESS en génie informatique.</p>
        <app-gsup-button
          [title]="degree[0]"
          [color]="'red'"
          [size]="'large'"
          (clicked)="navigateTo(degree[0])"
        ></app-gsup-button>
      </div>
    </div>
    <div class="container-right">
      <div class="container-content">
        <img src="./../../../assets/image_maitrise.png" />
        <h1>{{ degree[1] }}</h1>
        <p>Plans d'études pour la maîtrise en génie informatique.</p>
        <app-gsup-button
          [title]="degree[1]"
          [color]="'green'"
          [size]="'large'"
          (clicked)="navigateTo(degree[1])"
        ></app-gsup-button>
      </div>
    </div>
    <div class="container-right">
      <div class="container-content">
        <img src="./../../../assets/image_doctorat.png" />
        <h1>{{ degree[2] }}</h1>
        <p>Plans d'études pour le doctorat en génie informatique.</p>
        <app-gsup-button
          [title]="degree[2]"
          [color]="'blue'"
          [size]="'large'"
          (clicked)="navigateTo(degree[2])"
        ></app-gsup-button>
      </div>
    </div>
  </div>
</div>

<app-verify-plans *ngIf="this.auth.currentUser?.role !== role[0]"></app-verify-plans>
