<div class="progress-content">
  <div class="content">
    <div
      *ngFor="let item of itemProgressList; index as i"
      class="block-content"
      [class.complete]="item.displayLabel === 'Approuvé'"
      [class.active]="
        item.displayLabel === 'En cours' || item.displayLabel === 'Corrections requises'
      "
      [class.needs-correction]="item.displayLabel === 'Corrections requises'"
    >
      <svg viewBox="0 0 100 100">
        <circle class="circle" cx="50" cy="50" r="45"></circle>
        <polyline class="check" points="30,50 45,65 70,35"></polyline>
      </svg>
      <div class="block-content-text">
        <span class="block-content-text-role">{{ item.label }}</span>
        <span
          class="block-content-text-status"
          [class.complete]="item.displayLabel === 'Approuvé'"
          [class.in-progress]="item.displayLabel === 'En cours'"
          [class.needs-correction]="item.displayLabel === 'Corrections requises'"
        >
          {{ item.displayLabel }}
        </span>
      </div>
      <div
        class="block-content-line"
        [ngClass]="{
          complete: i < getCurrentStepIndex(),
          active:
            i === getCurrentStepIndex() &&
            item.displayLabel !== 'En cours' &&
            item.displayLabel !== 'Corrections requises',
          future: i >= getCurrentStepIndex()
        }"
        *ngIf="i < itemProgressList.length - 1"
      ></div>
    </div>
  </div>
</div>
