.progress-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;

  svg {
    transform: scale(0.8);
    fill: none;
    .circle {
      fill: #a1a1a1;
    }
  }

  &.active {
    svg {
      .circle {
        fill: #3498db;
      }
    }
  }

  &.complete {
    svg {
      .circle {
        fill: #23c274;
      }

      .check {
        display: block;
        stroke: #fff;
        stroke-width: 10;
        fill: none;
      }
    }
  }

  &.needs-correction {
    svg {
      .circle {
        fill: #c62828;
      }

      .cross {
        display: block;
        stroke: #fff;
        stroke-width: 10;
        fill: none;
      }
    }
  }
}

.block-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;

  .block-content-text-role {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .block-content-text-status {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .block-content-text-role.active,
  .block-content-text-status.active {
    color: #3498db;
  }

  .block-content-text-role.complete,
  .block-content-text-status.complete {
    color: #23c274;
  }

  .block-content-text-role.needs-correction,
  .block-content-text-status.needs-correction {
    color: #c62828;
  }
}

.block-content-line {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: hidden;

  width: 5%;
  height: 130px;
  border-radius: 10px;
  background-color: #a1a1a1;
  margin: 0.5rem 0;
  font-size: 12px;
  font-weight: bold;
  color: black;
  &.complete {
    background-color: #23c274;
  }

  &.active {
    background-color: #3498db;
  }

  &.future {
    background-color: #a1a1a1;
  }
}
