<div class="programs-container">
  <div class="container-left">
    <div class="left-header">
      <div class="header-search-program">
        <input
          type="text"
          placeholder="Rechercher un programme..."
          (input)="onSearch($event.target.value)"
        />
      </div>
      <div class="header-add-program">
        <img src="./../../../assets/image_add.png" alt="" />
      </div>
    </div>
    <div class="programs-list">
      <div
        *ngFor="let option of allPrograms$ | async | keyvalue"
        class="program-item"
        [class.selected]="selectedProgramId === option.key"
        (click)="selectProgram(option.key)"
      >
        {{ option.value }}
      </div>
    </div>
  </div>
  <div class="container-right">
    <div *ngIf="!selectedProgramId" class="no-program-selected">
      <img src="./../../../assets/image_select.png" alt="" />
      <h3>
        Selectionnez un programme dans la liste affichée afin d'intéragir avec un plan d'étude.
      </h3>
      <h3>
        Cliquez sur le bouton situé à droite de la barre de recherche pour ajouter un programme.
      </h3>
    </div>
    <app-study-plan *ngIf="selectedProgramId && programService.program"></app-study-plan>
  </div>
</div>
