<div class="programs-container">
  <div class="container-left">
    <div class="left-header">
      <div class="left-title-block">
        <h2>Programmes</h2>
      </div>
      <button mat-flat-button
              class="palette-primary" (click)="createProgram()">
        <span class="icon-plus">+</span>
        Nouveau programme
      </button>
    </div>
    <div class="search-bar">
      <input
        type="search"
        placeholder="Rechercher un programme..."
        (input)="onSearch($event.target.value)"
      />
    </div>
    <div class="programs-list">
      <div
        *ngFor="let option of allPrograms$ | async | keyvalue"
        class="program-item"
        [class.selected]="selectedProgramId === option.key"
        (click)="selectProgram(option.key)"
      >
        {{ option.value }}
      </div>
      <p class="no-program-message" *ngIf="allPrograms.getValue().size === 0">
        Aucun programme trouvé
      </p>
    </div>
  </div>
  <div class="container-right">
    <div *ngIf="!selectedProgramId" class="no-program-selected">
      <img src="./../../../assets/image_select.png" alt="" />
      <h3>
        Sélectionnez un programme dans la liste affichée afin d'interagir avec un plan d'étude.
      </h3>
      <h3>
        Appuyez sur le bouton d'ajout pour ajouter un
        programme.
      </h3>
    </div>

    <ng-container *ngIf="selectedProgramId && (programService.program || editingDraft)">
      <div class="right-toolbar" *ngIf="isEditing">
        <div class="toolbar-left">
          <button mat-flat-button class="palette-danger" *ngIf="!isCreatingNew" (click)="confirmDeleteProgram()">
            Supprimer le programme
          </button>
        </div>

        <div class="toolbar-right">
          <button mat-stroked-button class="palette-warning" (click)="togglePreview()">
            {{ isPreviewing ? 'Revenir à l’édition' : 'Prévisualiser le plan' }}
          </button>
          <button
            mat-flat-button
            class="palette-primary"
            (click)="saveProgram()"
            [disabled]="isSaving"
          >
            {{ isCreatingNew ? 'Créer le programme' : 'Enregistrer les modifications' }}
          </button>
          <button mat-flat-button class="palette-danger" (click)="requestExit()">Quitter l'édition</button>
        </div>
      </div>

      <div class="right-content" [class.has-toolbar]="isEditing">
        <app-program-editor
          #programEditor
          *ngIf="isEditing && !isPreviewing && editingDraft"
          [program]="editingDraft!"
          [isNew]="isCreatingNew"
          (programChange)="onProgramChange($event)"
        ></app-program-editor>

        <app-study-plan *ngIf="!isEditing" [state]="'viewAdmin'"></app-study-plan>
        <app-study-plan
          *ngIf="isEditing && isPreviewing"
          [programOverride]="editingDraft || undefined"
          [state]="'viewAdmin'"
        ></app-study-plan>
      </div>
    </ng-container>
  </div>
</div>

