<div mat-dialog-content class="dialog-content">
  <div class="dialog-header">
    <mat-icon class="dialog-icon" [ngClass]="dialogIcon">{{ dialogIcon }}</mat-icon>
    <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  </div>
  <p class="dialog-message" *ngIf="data?.message">{{ data.message }}</p>
  <ul class="dialog-details" *ngIf="detailLines.length">
    <li *ngFor="let detail of detailLines">{{ detail }}</li>
  </ul>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button *ngIf="showCancel" (click)="onCancelClick()">
    {{ cancelLabel }}
  </button>
  <button mat-raised-button [color]="confirmColor" (click)="onConfirmClick()">
    {{ confirmLabel }}
  </button>
</div>
