@if (isLoading$ | async) {
  <app-loading></app-loading>
}
<!-- Step 1: Departements -->
@if ((step$ | async) === 1) {
  <div class="program-container">
    <div
      class="container-box"
      *ngFor="let dept of (departements$ | async); let i = index"
      (click)="pS.chooseDepartement(dept)"
    >
      <img [src]="departementImages[dept]" />
      <h1>{{ dept }}</h1>
    </div>
  </div>
}

<!-- Step 2: Degrees -->
@if ((step$ | async) === 2) {
  <div class="program-container">
    <div
      class="container-box"
      *ngFor="let degree of (degrees$ | async); let i = index"
      (click)="pS.chooseDegree(degree)"
    >
      <img [src]="'./../../../assets/program&option.png'" />
      <h1>{{ degree }}</h1>
    </div>
  </div>
}

<!-- Step 3: Options -->
@if ((step$ | async) === 3) {
  <div class="program-container">
    <div
      class="container-box"
      *ngFor="let opt of (options$ | async); let i = index"
      (click)="pS.chooseOption(i)"
    >
      <img [src]="'./../../../assets/program&option.png'" />
      <h1>{{ opt }}</h1>
    </div>
  </div>
}

<button (click)="pS.goBack()">Revenir</button>
