<div class="container">
  <header>
    <h1>Plan d'Études - Planetude</h1>
    <div class="total-credits">
      <span class="credits-count">{{ selectedCredits }} / {{ totalCredits }}</span>
      <span class="credits-label">Crédits sélectionnés</span>
    </div>
  </header>

  <div class="module-info">
    <h2>{{ program.degree }}</h2>
    <h3 *ngIf="program.option">{{ program.option }}</h3>
    <p class="description">{{ program.description }}</p>

    <div class="conditions" *ngIf="program.modules.length > 0">
      <p *ngFor="let module of program.modules">
        <strong>{{ extractCreditsFromTitle(module.title) }} crédits</strong> -
        {{ getModuleTitleWithoutCredits(module.title) }}
      </p>
    </div>

    <div class="selectors">
      <div class="form-group">
        <label for="director">Directeur du programme :</label>
        @if (isViewMode) {
          <p class="readonly-text">
            {{ getDirectorName(directorId) || '—' }}
          </p>
        } @else {
          <select id="director" [(ngModel)]="directorId">
            <option [value]="getDirectorName(directorId) || '-'" disabled>-- Sélectionnez un directeur --</option>
            <option *ngFor="let director of directors" [value]="director._id">
              {{ director.firstName }} {{ director.lastName }}
            </option>
          </select>
        }
      </div>
      <div class="form-group">
        <label for="coordinator">Coordonnateur :</label>
        @if (isViewMode) {
          <p class="readonly-text">
            {{ getCoordinatorName(coordonatorId) || '—' }}
          </p>
        } @else {
          <select id="coordinator" [(ngModel)]="coordonatorId">
            <option [value]="getCoordinatorName(coordonatorId) || '-'" disabled>-- Sélectionnez un coordonnateur --</option>
            <option *ngFor="let coordinator of coordinators" [value]="coordinator._id">
              {{ coordinator.firstName }} {{ coordinator.lastName }}
            </option>
          </select>
        }
      </div>
  </div>

  <div class="modules-container">
    <app-study-module
      *ngFor="let module of modules"
      [module]="module"
      [allCourses]="allCourses"
      [progressStyle]="getProgressStyle()"
      [isViewMode]="isViewMode"
      (courseSelectionChange)="onCourseSelectionChange($event)"
    >
    </app-study-module>
  </div>

  <div class="actions" *ngIf="!isViewMode && this.state !== 'viewAdmin'">
    <button (click)="validatePlan()" class="btn-primary">Valider le plan d'études</button>
  </div>
  <div class="actions" *ngIf="this.state === 'viewAdmin'">
    <button (click)="modifyPlan()" class="btn-primary">Modifier le plan d'études</button>
  </div>
</div>
